{% set title = 'CG Projects' %}

{% extends 'layout.html' %}

{% block style %}
<link href="/css/cg_projects.css" rel="stylesheet">
{% endblock %}


{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Animate a Helicopter!</h1>
    <p class="lead">The project is simple: Animate a Helicopter!  Simple is boring!</p>
    <hr class="my-4">
    <img src="/gifs/cinema-view.gif" class="img-fluid" alt="Hm... Something went wrong.">
    <br><br>
    <p>The project's description was to upload some numbers defining the vertices of the above helicopter to the GPU, throw in some more numbers defining the vertices of the
        helicopter's blades, then to apply a few transformations to situate the blades in their appropriate positions, then make em' spin!
    I thought it would be more fun to a create a scene "First Contact" type of situation.

        <br><br>
        As the course is designed for CG newcomers, we're using GLUT (OpenGL Utility ToolKit) and GLU (OpenGL Utility Library).  Both are
        considered deprecated tools at this point, but some legacy libraries require them.  The GLU specification was last updated in 1998 and with the release of OpenGL 3.1 in 2009,
        a number of functions have been deprecated.  Fortunately for us, the stuff we'll need is happily usable.
        <br><br>
        The GL code for uploading the data required to draw our extraterrestrial friend and their saucer to the GPU is shown below:</p>

    <pre><code>
        Core::Geometry* saucer = Core::Geometry::Create(Core::PrimitiveType::Sphere);

	TestSaucerList = glGenLists(1);

	glNewList(TestSaucerList, GL_COMPILE);
	glBegin(GL_TRIANGLES);
	for (uint32_t index : saucer->GetIndices())
	{
		const Core::Vertex vertex = saucer->GetVertices()[index];
		glVertex3f(vertex.Position.x, vertex.Position.y, vertex.Position.z);
		glNormal3f(vertex.Normal.x, vertex.Normal.y, vertex.Normal.z);
	}
	glEnd();
	glEndList();
    </code></pre>

</div>


<div class="jumbotron">
    <h1 class="display-4">Skyboxes, Cubemaps and Pretty Colors</h1>
    <hr class="my-4">
    <img src="/images/skybox.png" class="img-fluid" alt="Hm... Something went wrong.">
    <img src="/images/reflection-cubemap.png" class="img-fluid" alt="Hm... Something went wrong.">
    <br><br>
    <p>Here's a little preview for a write-up I'm working on covering procedural skyboxes.</p>
</div>

<div class="jumbotron">
    <h1 class="display-4">Compute Shaders, Textures and FBM</h1>
    <hr class="my-4">
    <div id="cg-compute-texture-parent-grid">
        <img src="/images/compute-tex1.png" class="img-fluid" alt="Hm... Something went wrong.">
        <img src="/images/compute-tex2.png" class="img-fluid" alt="Hm... Something went wrong.">
        <img src="/images/compute-tex3.png" class="img-fluid" alt="Hm... Something went wrong.">
        <img src="/images/compute-tex4.png" class="img-fluid" alt="Hm... Something went wrong.">
    </div>
    <br><br>
    <p>Insert cool write-up on compute shaders and FBM here!</p>
</div>

<div class="jumbotron">
    <h1 class="display-4">Particles!</h1>
    <p class="lead">Many, many particles - 1024 x 1024 of em'!</p>
    <hr class="my-4">
    <div id="cg-particles-parent-sub-grid">
        <img src="/images/particles1.png" class="img-fluid" alt="Hm... Something went wrong.">
        <img src="/images/particles2.png" class="img-fluid" alt="Hm... Something went wrong.">
        <img src="/images/particles3.png" class="img-fluid" alt="Hm... Something went wrong.">
    </div>
    <br><br>
    <p>Insert another neat write-up on particle systems here, please!</p>
</div>


{% endblock %}



{% block script %}
{% endblock %}