{% set title = 'Connor Wendt' %}

{% extends 'layout.html' %}

{% block style %}
<link type="text/css" rel="stylesheet" href="/css/home.css">
{% endblock %}


{% block content %}
<div class="list-group">
    <a href="/projects/pathfinder/" class="list-group-item list-group-item-action">Pathfinder</a>
    <a href="/projects/2D_engine/" class="list-group-item list-group-item-action">2D Engine</a>
    <a href="#" class="list-group-item list-group-item-action">TBD</a>
    <a href="#" class="list-group-item list-group-item-action disabled">TBD</a>
</div>
{% endblock content %}
